<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--define various log targets-->
  <targets>
    <target xsi:type="File" name="ownFile-web" fileName="${basedir}/log/blog-${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target name="frameworkcoloredconsole" xsi:type="ColoredConsole">
      <highlight-row condition="level &gt;= LogLevel.Error and contains(message,'serious')" foregroundColor="White" backgroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta"/>
      <highlight-row condition="level &lt; LogLevel.Warn" foregroundColor="Cyan"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="ownFile-web" />
    <logger name="*" minlevel="Debug" writeTo="frameworkcoloredconsole"/>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>
